apiVersion: v1
kind: ConfigMap
metadata:
  name: descheduler-policy
  namespace: kube-system
data:
  policy.yaml: |
    apiVersion: "descheduler/v1alpha2"
    kind: "DeschedulerPolicy"
    profiles:
      - name: ProfileName
        pluginConfig:
        - name: "RemoveDuplicates"
        - name: "RemovePodsViolatingInterPodAntiAffinity"
        - name: "LowNodeUtilization"
          args:
            thresholds:
              "cpu": 50
              "memory": 40
              "pods": 40
            targetThresholds:
              "cpu": 65
              "memory": 55
              "pods": 55
        - name: "RemovePodsHavingTooManyRestarts"
          args:
            podRestartThreshold: 100
            includingInitContainers: true
        - name: "RemovePodsViolatingTopologySpreadConstraint"
          args:
            constraints:
              - DoNotSchedule
              - ScheduleAnyway
        plugins:
          deschedule:
            enabled:
              - "RemovePodsViolatingInterPodAntiAffinity"
              - "RemovePodsHavingTooManyRestarts"
          balance:
            enabled:
              - "RemoveDuplicates"
              - "LowNodeUtilization"
              - "RemovePodsViolatingTopologySpreadConstraint"
